@import url(variables.css);

.card-messaging {
    border: 0 !important;
    overflow: hidden;
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-m-header {
    background-color: grey;
}

.chat-item:hover {
    background-color: rgb(207, 207, 207);
}

.bubble-yellow {
    background-color: var(--transparent-yellow);
    border: none;
}

.bubble-green {
    background-color: var(--transparent-green);
    border: none;
}

.start-70 {
    right: 43% !important;
}

.chat {
    width: 25rem;
}

.chat-content {
    overflow: auto;
    height: 30rem;
}

.spinner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 761px) {        
    .phone-chat-container {
        position: fixed;
        top: 80px;
        bottom: 77px; 
        left: 0;
        right: 0;
    }
}

@media (min-width: 870px) {
    .start-70 {
        right: 35% !important;
    }
}

@media (min-width: 1350px) {
    .start-70 {
        right: 25% !important;
    }
}

@media (min-width: 1920px) {
    .start-70 {
        right: 20% !important;
    }
}

@media (min-width: 2100px) {
    .start-70 {
        right: 15% !important;
    }
} 