/* .custom-footer {
    border-top: 1px solid #000000;
    padding-top: 20px;
  } */

.github-icon-1{
    color: rgb(226, 98, 61);
}

.github-icon-3{
    color: rgb(251, 189, 85);
}

.github-icon-2{
    color: rgb(112, 141, 98);
}