.dropdown-menu {
    position: absolute;
    top: 4rem; /* Ajusta esta distancia según sea necesario */
    right: 0;
    width: 15rem; /* Ajusta el ancho según sea necesario */
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.dropdown-item {
    align-items: center;
    padding: 1rem;
    font-size: 0.9rem; /* Ajusta el tamaño del texto según sea necesario */
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: normal;
}

.dropdown-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.dropdown-item strong {
    margin-bottom: 0.5rem;
}

.nav-link-dropdown {
    color: rgba(0, 0, 0, .55);
    border: none;
    padding: 0 !important;
}

.nav-link-dropdown .btn-primary {
    background-color: transparent !important;
    border: none;
    padding: 0 !important;
}

.nav-link-dropdown .dropdown-toggle::after {
    display: none; 
}