@import url(variables.css);

a {
    color: var(--orange);
}

a:hover {
    color: var(--orange);
}

.card {
    border: 0 !important;
    overflow: hidden;
    box-shadow: -3px 3px 15px rgb(216, 216, 216);
}

.css-dip3t8 {
    background-color: rgb(248 249 250) !important;
}

.btn-clear-dark {
    border-radius: 3rem;
    border: 2px solid var(--dark);
    color: var(--dark);
    transition: all 0.2s ease;
    background-color: transparent;
}

.btn-clear-dark:hover {
    background-color: var(--dark);
    color: white;
}

.btn-clear-green {
    border-radius: 3rem;
    border: 2px solid var(--green);
    color: var(--green);
    transition: all 0.2s ease;
    background-color: transparent;
}

.btn-clear-green:hover {
    background-color: var(--green);
    color: white;
}

.btn-green {
    border-radius: 3rem;
    color: white;
    transition: all 0.2s ease;
    background-color: var(--green);
}

.btn-green:hover {
    background-color: rgb(139, 160, 128);
    color: white;
}

.btn-clear-orange {
    border-radius: 3rem;
    border: 2px solid var(--orange);
    font-weight: 900;
    color: var(--orange);
    transition: all 0.2s ease;
    background-color: transparent;
}

.btn-clear-orange:hover {
    border: 2px solid var(--orange);
    background-color: var(--orange);
    font-weight: 900;
    color: var(--dark);
}

.btn-orange {
    border-radius: 3rem;
    color: white;
    transition: all 0.2s ease;
    background-color: var(--orange);
}

.btn-orange:hover {
    background-color: rgb(240, 138, 109);
    color: white;
}

.btn-clear-yellow {
    border-radius: 3rem;
    border: 2px solid var(--yellow);
    font-weight: 900;
    color: var(--yellow);
    transition: all 0.2s ease;
    background-color: transparent;
}

.btn-clear-yellow:hover {
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    font-weight: 900;
    color: var(--dark);
}

.btn-yellow {
    border-radius: 3rem;
    color: var(--dark);
    transition: all 0.2s ease;
    background-color: var(--yellow);
}

.btn-yellow:hover {
    background-color: rgb(255, 216, 148);
    color: white;
}
.text-orange {
    color: var(--orange);
}

.text-yellow {
    color: var(--yellow);
}

.text-green {
    color: var(--green);
}