/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.card {
    border: 0 !important;
    overflow: hidden;
    box-shadow: -3px 3px 15px rgb(230, 230, 230);
}

.mt-6 {
    margin-top: 10rem;
}

.css-dip3t8 {
    background-color: white !important;
}