@import url(variables.css);
a {
    text-decoration: none;
}

.nav-link {
    transition: all 0.3s ease;
}

.nav-link:hover{
    font-weight: bold;
    color:var(--green) !important;
}

.smooth {
    transition: all 0.1s ease;
}

.smooth:hover {
    transform: scale(1.1);
}

.navbar-brand {
    font-size: 1.5rem;
}
